@font-face {
  src: url(../fonts/Tormenta.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-family: Tormenta;
}

html,
body {
  padding: 0;
  margin: 0;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Tormenta;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    margin: 20px;
  }
}

